@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}
#page-header {
  background-color: #166534; /* deep green */
  padding: 16px;
  text-align: center;
}
#page-header h1 {
  color: #f9fafb; /* off-white */
  margin: 0;
}
